.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-custom {
  color: #ffffff;
  background: #F7ADA4;
}

.inner {
  background: #FDEDC6;
  width: 50%;  
}


.outer {
  margin-bottom: 75px;
}

.datos-paciente{
  background: #ffff;
  min-height: 100%;
  margin-bottom: -50px;
  margin-top: -50px;
}

.push {
  height: 0px;
}

.logoAGP {
  display: block;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.logoAGP-up {
  width: 250px;
}

.foot {
  background: #D1F1F3;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 100%;
}

.mapita {
  margin:auto;
  width: 90%;
  border-radius: 8px;
  max-width: 90%;
  height: auto;
  margin-top: 8%;
}

#menu-left {
  width:20%;
  height:200px;
  position:absolute;
  top:20px;
  right:20px;
}

.title-carrusel{
  color:#333;
}
.my__carousel_main {
  
  /* position: absolute;
  left: 50%;
  transform: translate(-50%); */

  background-color: #F7ADA4;
  border-radius: 5%;
  /* max-width: 60vw; */
  /* max-height: 30rem; */
  /* height: 65vh; */
  height: 26.5rem;
  /* max-width: 60rem; */
  width: 56rem;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  color: #09d3ac;
            
}
.horario {
  display: flex;
  margin-left: 5rem;
  margin-top: 3rem;

}

.tel {
  width: 27%;
  margin-top: 5%;
  margin-bottom: 10px;
}

.ubi {
  width: 30%;
  margin-top: 5%;
  margin-bottom: 10px;
}

.hora {
  width: 19%;
  margin-top: 4%;
  margin-bottom: 10%;
}

.patient-text {
  font-size: large;
  font-weight: 400;
  text-align: left;
}

.patient-text-br {
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.box {
  text-align: left;
  border-style: solid;
  border-color: #10e9e9;
}

.text-br {
  font-size: large;
  font-weight: bold;
}

.row {
  margin-bottom: 10px;
}

span {
  color: #F7ADA4;
}

/*
.dropdown {
    width: 100px;
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    position: left;
}
*/

/* User Panel */

.bg-custom {
  background-color: #FDEDC6;
}

.h4-custom {
  color: #F7ADA4;
}

.thead-custom {
  background-color: #FDEDC6;
}

.btn-space {
  margin-right: 10px;
  margin-left: 30px;
}

.container-space {
  padding-left: 250px;
  padding-top: 50px;
}

/* Form */

.btn-txt {
  text-align: left;
  padding-left: 50px;
}

.btn-custom2 {
  background-color: #D1F1F3;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #86c3c7;
  font-weight: bold;
}

.info-text {
  color: #333;
}

.btn-pat {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  background-color: #D1F1F3;
}

.info-text {
  display: block;
  color: #333;
  margin: auto auto;
  width: 80%;
  border: solid 2px #D1F1F3;
  border-radius: 5px;
  padding: 10px;
}

.nav-sec, .info-pat {
  margin-bottom: 25px;
}

.info-pat {
  margin-top: 25px;
}

.info-form {
  text-align: justify;
}

.form-pat {
  background-color: #F7ADA4;
  color: #ffff;
}

.form-pat::placeholder {
  color: #ffff;
}

.form-title {
  color: #5D9FC8;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.form-subtitle {
  color: #5D9FC8;
  font-weight: bold;
  text-transform: uppercase;
}

.form-text {
  font-weight: bold;
}

.form-text-supra {
  font-size: 20px;
}

#menu-left {
  height: auto;
  margin-top: 15px;
}

.nav-item {
  text-decoration: none;
  font-weight: 400;
  color: #333;
  padding-right: 15px;
}

.nav-item:hover {
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}

/* Cuarta iteracion */

.thead-custom-two {
  background-color: #F7ADA4;
}

.table-input {
  display: block; 
  padding: 0; 
  margin: 0; 
  border: 0; 
}

.td-input {
  background-color: #F7ADA4;
  border: 0; 
  padding: 0; 
  margin: 0; 
}

.centable {
  text-align: center;
}

.table-custom {
  width: 60%;
  margin-left: 5%;
}

