[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-wtf = "*"
flask-mongoengine = "*"
bootstrap-flask = "*"
flask-bootstrap4 = "*"
flask-admin = "*"
gunicorn = "*"

[requires]
python_version = "3.9"
